PORT=3000
HOST=0.0.0.0
LOG_LEVEL=info
SQLITE_PATH=./data/wa-customer-bot.db

ODOO_URL=http://localhost:8069
ODOO_DB=odoo
ODOO_LOGIN=admin
ODOO_PASSWORD=admin
ODOO_UID=

EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=replace_me
EVOLUTION_INSTANCE=replace_me

TEST_RECIPIENT_PHONE=+6281357737545
TEST_ENDPOINT_KEY=

XENDIT_API_URL=https://api.xendit.co
XENDIT_SECRET_KEY_TEST=
SIMULATE_PAGE_PASSWORD=

BASE_URL=http://localhost:3000
